body{
    background: url("backgroundpregnancy.jpg");

}
.heading{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size:60px;
    margin-top:80px;
}
.information{
    border-color:black;
    border-style:solid;
    display:flex;
    margin:90px;
    height:1000px;
}

.inf{
    margin:10px;
}